<header>
        <div class="container text-center">
            <body>
                <div class="row">
                    <div class="col">
                        <img class="headerLogo" src="../../assets/tete.png" alt="logoCU84"/>
                    </div>
                    <div class="col">
                        <h1>Commando Ultra 84 - Since 1984</h1>
                        <p>Partout et toujours, seuls contre tous</p>
                        <nav>
                            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Edito</a>
                            <a routerLink="calendrier" routerLinkActive="active">Calendrier</a>
                            <a routerLink="galerie" routerLinkActive="active">Galerie</a>
                        </nav>
                    </div>
                    <div class="col">
                        <img class="headerLogo" src="../../assets/Christinepresente.jpg" alt="by Christine"/>
                    </div>
                </div>
            </body>
        </div>
</header>