<div class="landing-block">
  <body>
    <p>Les Ultras Marseille, pionniers du mouvement Ultra’ en France, devenus depuis une référence incontournable, se sont toujours attachés au plus important : défendre les valeurs et les couleurs du club de leur coeur.
        Ce soutien, sans autre arrière pensée que celle de voir briller les couleurs bleues et blanches au firmament du football français et européen, les Ultras l’accomplissent chaque semaine, dans leur Virage Sud ou lors de déplacements. Notre lieu d’expression est le stade, c’est notre jardin.</p>
        
        <p>Le lieu de vie quotidienne des membres du Commando Ultra’ est notre local ; endroit sympa pour se rencontrer, boire un coup ou refaire l’actualité olympienne, mais aussi, et surtout, atelier de préparation des animations... Et oui, ces tribunes colorées et animées de créations 100 % Ultras, ces innombrables phrases d’encouragement (ou de contestation quand la direction olympienne divague) nécessitent des heures de travail pour les Ultras les plus actifs : exemple à suivre !</p>
        
        <p>Ce site officiel devient l’organe principal de communication de notre groupe mais ne doit pas nous faire oublier l’essentiel : l’action des Ultras se fait dans un stade.
        Aujourd’hui, nous sommes à une période charnière où la relève doit s’affirmer et, pour ce faire, les bonnes volontés sont les bienvenues.Il appartient aux anciens de les intégrer et de leur inculquer les valeurs fondamentales qui ont fait la renommée et la force des Ultras Marseille, mais c’est aux nouveaux venus de s’impliquer et de respecter l’entité de notre groupe.
        Ce site doit donc faciliter une forme de communication autour du groupe, mais il est primordial que les échanges directs et verbaux demeurent et s’accentuent, car c’est par cette voie-là que l’histoire continue...
        Le Commando</p>
    <!-- <img src="" alt="logo"> -->
    <!-- <div class="landing-links">
      <button routerLink="calendrier">Calendrier</button>
    </div> -->
  </body>
  </div>
